@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.spacer {
  background: lightcoral;
}

.btn--increment {
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
